<div>
    <h1 id="homeHeader">MISSION</h1>
    <p id="mission">Our mission is to provide long-term statistical and probabilistic solutions to users. Predict<span style="color: #5383d3;">er</span> is 
        the initial stage of this process. We sincerely believe that, you will find the best suitable
        product for yourself in Predict<span style="color: #5383d3;">er</span>. In other words, the Predict<span style="color: #5383d3;">er</span> is an online tool which maps your answers
        to optimal products.
    </p>
</div>


