<div>
    <h1 id=homeHeader>Predict<span style="color: #5383d3;">er</span></h1>
   <p id="about">Predicter is a prediction application which, anticipates
                the most appropriate product or property according to your 
                answers to specific questions. Please <span style="color: #5383d3;font-weight: bold;">Sign up</span> or <span style="color: #5383d3;font-weight: bold;">Log in</span> to your
                account in order to start to use it and see the predictions.
   </p>
</div>